<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <title>Home</title>
</head>


<body>

    <main ng-controller="HomeController as vm">
        <label id="label-pagina-home">{{ vm.titulo }}</label>
        <button ng-click="vm.irParaPaginaDeProdutos()">Planetas</button>
    </main>
    
    <script src="/js/app/app.module.js"></script>
    <script src="/js/app/controllers/home.controller.js"></script>
    
    <script>
        angular.bootstrap(document, ['app']);
    </script>
</body>

</html>