<div>Passo: {{$ctrl.passoAtual}}</div>
<div>
    <app-wizard-passo1 ng-show="$ctrl.isAtual(1)"></app-wizard-passo1>
    <app-wizard-passo2 ng-show="$ctrl.isAtual(2)"></app-wizard-passo2>
    <app-wizard-passo3 ng-show="$ctrl.isAtual(3)"></app-wizard-passo3>
</div>

<div style="padding-top:2em; margin: 0 auto">
    <button ng-click="$ctrl.anterior()" ng-hide="$ctrl.passoAtual === 1">Anterior</button> 
    {{$ctrl.passoAtual}} 
    <button ng-click="$ctrl.proximo()" ng-hide="$ctrl.passoAtual === 3"> Próximo </button>
</div>